In [596]:
import pandas as pd
import numpy as np
from rake_nltk import Rake

In [597]:
df = pd.read_csv('movies_list.csv')
df.head()

,Unnamed: 0,Title,Year,Rated,Released,Runtime,Genre,Director,Writer,Actors,...,tomatoConsensus,tomatoUserMeter,tomatoUserRating,tomatoUserReviews,tomatoURL,DVD,BoxOffice,Production,Website,Response
0,1,The Shawshank Redemption,1994,R,14 Oct 1994,142 min,"Crime, Drama",Frank Darabont,"Stephen King (short story ""Rita Hayworth and S...","Tim Robbins, Morgan Freeman, Bob Gunton, Willi...",...,NaN,NaN,NaN,NaN,http://www.rottentomatoes.com/m/shawshank_rede...,27 Jan 1998,NaN,Columbia Pictures,NaN,True
1,2,The Godfather,1972,R,24 Mar 1972,175 min,"Crime, Drama",Francis Ford Coppola,"Mario Puzo (screenplay), Francis Ford Coppola ...","Marlon Brando, Al Pacino, James Caan, Richard ...",...,NaN,NaN,NaN,NaN,http://www.rottentomatoes.com/m/godfather/,09 Oct 2001,NaN,Paramount Pictures,http://www.thegodfather.com,True
2,3,The Godfather: Part II,1974,R,20 Dec 1974,202 min,"Crime, Drama",Francis Ford Coppola,"Francis Ford Coppola (screenplay), Mario Puzo ...","Al Pacino, Robert Duvall, Diane Keaton, Robert...",...,NaN,NaN,NaN,NaN,http://www.rottentomatoes.com/m/godfather_part...,24 May 2005,NaN,Paramount Pictures,http://www.thegodfather.com/,True
3,4,The Dark Knight,2008,PG-13,18 Jul 2008,152 min,"Action, Crime, Drama",Christopher Nolan,"Jonathan Nolan (screenplay), Christopher Nolan...","Christian Bale, Heath Ledger, Aaron Eckhart, M...",...,NaN,NaN,NaN,NaN,http://www.rottentomatoes.com/m/the_dark_knight/,09 Dec 2008,"$533,316,061",Warner Bros. Pictures/Legendary,http://thedarkknight.warnerbros.com/,True
4,5,12 Angry Men,1957,APPROVED,01 Apr 1957,96 min,"Crime, Drama",Sidney Lumet,"Reginald Rose (story), Reginald Rose (screenplay)","Martin Balsam, John Fiedler, Lee J. Cobb, E.G....",...,NaN,NaN,NaN,NaN,http://www.rottentomatoes.com/m/1000013-12_ang...,06 Mar 2001,NaN,Criterion Collection,http://www.criterion.com/films/27871-12-angry-men,True

In [598]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 250 entries, 0 to 249
Data columns (total 38 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Unnamed: 0         250 non-null    int64
 1   Title              250 non-null    object
 2   Year               250 non-null    int64
 3   Rated              250 non-null    object
 4   Released           248 non-null    object
 5   Runtime            250 non-null    object
 6   Genre              250 non-null    object
 7   Director           250 non-null    object
 8   Writer             249 non-null    object
 9   Actors             250 non-null    object
 10  Plot               250 non-null    object
 11  Language           250 non-null    object
 12  Country            250 non-null    object
 13  Awards             245 non-null    object
 14  Poster             250 non-null    object
 15  Ratings.Source     250 non-null    object
 16  Ratings.Value      250 non-null    object
 17  Metascore          177 non-null    float64
 18  imdbRating         250 non-null    float64
 19  imdbVotes          250 non-null    object
 20  imdbID             250 non-null    object
 21  Type               250 non-null    object
 22  tomatoMeter        0 non-null      float64
 23  tomatoImage        0 non-null      float64
 24  tomatoRating       0 non-null      float64
 25  tomatoReviews      0 non-null      float64
 26  tomatoFresh        0 non-null      float64
 27  tomatoRotten       0 non-null      float64
 28  tomatoConsensus    0 non-null      float64
 29  tomatoUserMeter    0 non-null      float64
 30  tomatoUserRating   0 non-null      float64
 31  tomatoUserReviews  0 non-null      float64
 32  tomatoURL          250 non-null    object
 33  DVD                247 non-null    object
 34  BoxOffice          75 non-null     object
 35  Production         250 non-null    object
 36  Website            131 non-null    object
 37  Response           250 non-null    bool
dtypes: bool(1), float64(12), int64(2), object(23)
memory usage: 72.6+ KB

In [599]:
df.isnull().sum()

Unnamed: 0             0
Title                  0
Year                   0
Rated                  0
Released               2
Runtime                0
Genre                  0
Director               0
Writer                 1
Actors                 0
Plot                   0
Language               0
Country                0
Awards                 5
Poster                 0
Ratings.Source         0
Ratings.Value          0
Metascore             73
imdbRating             0
imdbVotes              0
imdbID                 0
Type                   0
tomatoMeter          250
tomatoImage          250
tomatoRating         250
tomatoReviews        250
tomatoFresh          250
tomatoRotten         250
tomatoConsensus      250
tomatoUserMeter      250
tomatoUserRating     250
tomatoUserReviews    250
tomatoURL              0
DVD                    3
BoxOffice            175
Production             0
Website              119
Response               0
dtype: int64

In [600]:
df.Plot

0      Two imprisoned men bond over a number of years...
1      The aging patriarch of an organized crime dyna...
2      The early life and career of Vito Corleone in ...
3      When the menace known as the Joker emerges fro...
4      A jury holdout attempts to prevent a miscarria...
                             ...
245    The desperate life of a chronic alcoholic is f...
246    A 20-something supervising staff member of a r...
247    A newspaper editor uses every trick in the boo...
248    An old man makes a long journey by lawn-mover ...
249    A Mumbai teen reflects on his upbringing in th...
Name: Plot, Length: 250, dtype: object

#### Remove Punction

In [601]:
import string
punc = string.punctuation

In [602]:
df.Plot = df.Plot.apply(lambda x : "".join([i for i in x if i not in punc]))
#df['Plot'] = df['Plot'].str.replace('[ws]','')

In [603]:
df.Plot

0      Two imprisoned men bond over a number of years...
1      The aging patriarch of an organized crime dyna...
2      The early life and career of Vito Corleone in ...
3      When the menace known as the Joker emerges fro...
4      A jury holdout attempts to prevent a miscarria...
                             ...
245    The desperate life of a chronic alcoholic is f...
246    A 20something supervising staff member of a re...
247    A newspaper editor uses every trick in the boo...
248    An old man makes a long journey by lawnmover t...
249    A Mumbai teen reflects on his upbringing in th...
Name: Plot, Length: 250, dtype: object

In [604]:
rake = Rake()
df['keywords'] = ''

In [605]:
for index, row in df.iterrows():
    rake.extract_keywords_from_text(row.Plot)
    df['keywords'][index] = list(rake.get_word_degrees().keys())

C:\Users\shankesh\AppData\Local\Temp\ipykernel_11020\1291899574.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['keywords'][index] = list(rake.get_word_degrees().keys())

In [606]:
df.keywords

0      [two, imprisoned, men, bond, number, years, fi...
1      [aging, patriarch, organized, crime, dynasty, ...
2      [early, life, career, vito, corleone, 1920s, n...
3      [menace, known, joker, emerges, mysterious, pa...
4      [jury, holdout, attempts, prevent, miscarriage...
                             ...
245    [desperate, life, chronic, alcoholic, followed...
246    [20something, supervising, staff, member, resi...
247    [newspaper, editor, uses, every, trick, book, ...
248    [old, man, makes, long, journey, lawnmover, tr...
249    [mumbai, teen, reflects, upbringing, slums, ac...
Name: keywords, Length: 250, dtype: object

In [607]:
df.Genre = df.Genre.apply(lambda x : x.split(','))
df.Actors = df.Actors.apply(lambda x : x.split(',')[:3])
df.Director = df.Director.apply(lambda x : x.split(','))

In [608]:
df.Genre = df.Genre.apply(lambda x : [i.lower().replace(' ','') for i in x])
df.Actors = df.Actors.apply(lambda x : [i.lower().replace(' ','') for i in x])
df.Director = df.Director.apply(lambda x : [i.lower().replace(' ','') for i in x])

In [609]:
df['BOW'] = ''
columns = ['Genre','Director','Actors','keywords']

In [610]:
for index, row in df.iterrows():
    words = ''
    for col in columns:
        words += ' '.join(row[col]) + ' '
    df.BOW[index] = words

C:\Users\shankesh\AppData\Local\Temp\ipykernel_11020\232681186.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.BOW[index] = words

In [611]:
df.BOW = df.BOW.str.strip().str.replace('   ', ' ').str.replace('  ', ' ')

In [612]:
df[['Title','BOW']]

,Title,BOW
0,The Shawshank Redemption,crime drama frankdarabont timrobbins morganfre...
1,The Godfather,crime drama francisfordcoppola marlonbrando al...
2,The Godfather: Part II,crime drama francisfordcoppola alpacino robert...
3,The Dark Knight,action crime drama christophernolan christianb...
4,12 Angry Men,crime drama sidneylumet martinbalsam johnfiedl...
...,...,...
245,The Lost Weekend,drama film-noir billywilder raymilland janewym...
246,Short Term 12,drama destindanielcretton brielarson johngalla...
247,His Girl Friday,comedy drama romance howardhawks carygrant ros...
248,The Straight Story,biography drama davidlynch sissyspacek janegal...
249,Slumdog Millionaire,drama dannyboyle loveleentandan devpatel saura...

### vectorization

In [613]:
from sklearn.feature_extraction.text import CountVectorizer
from sklearn.metrics.pairwise import cosine_similarity
vector = CountVectorizer()
vector_matrix = vector.fit_transform(df.BOW)
cosine_sim = cosine_similarity(vector_matrix, vector_matrix)

In [614]:
title = pd.Series(df.Title)

In [615]:
title[title == 'The Avengers'].index[0]

219

In [616]:
def recommendation(name, cosine_sim = cosine_sim):
    recommended_movies = []
    idx = title[title == name].index[0]
    score = pd.Series(cosine_sim[idx]).sort_values(ascending = False)
    top5 = list(score.iloc[1:11].index)

    for i in top5:
        recommended_movies.append(list(df['Title'])[i])
    
    return recommended_movies

In [617]:
recommendation('The Avengers')

['Guardians of the Galaxy Vol. 2',
 'Guardians of the Galaxy',
 'Aliens',
 'Terminator 2: Judgment Day',
 'The Martian',
 'The Terminator',
 'The Thing',
 'Interstellar',
 'Spider-Man: Homecoming',
 'The Matrix']