In [569]:
import pandas as pd
import numpy as np
from rake_nltk import Rake

In [591]:
df = pd.read_csv('IMDB_Top250Engmovies2_OMDB_Detailed.csv')
df.head()

,Unnamed: 0,Title,Year,Rated,Released,Runtime,Genre,Director,Writer,Actors,...,tomatoConsensus,tomatoUserMeter,tomatoUserRating,tomatoUserReviews,tomatoURL,DVD,BoxOffice,Production,Website,Response
0,1,Hugo,2011,PG,23 Nov 2011,126 min,"Adventure, Drama, Family",Martin Scorsese,"John Logan (screenplay), Brian Selznick (book)","Ben Kingsley, Sacha Baron Cohen, Asa Butterfie...",...,NaN,NaN,NaN,NaN,http://www.rottentomatoes.com/m/hugo/,28 Feb 2012,"$73,820,094",Paramount Studios,http://www.hugomovie.com/,True
1,2,Hugo,2011,PG,23 Nov 2011,126 min,"Adventure, Drama, Family",Martin Scorsese,"John Logan (screenplay), Brian Selznick (book)","Ben Kingsley, Sacha Baron Cohen, Asa Butterfie...",...,NaN,NaN,NaN,NaN,http://www.rottentomatoes.com/m/hugo/,28 Feb 2012,"$73,820,094",Paramount Studios,http://www.hugomovie.com/,True
2,3,Jupiter Ascending,2015,PG-13,06 Feb 2015,127 min,"Action, Adventure, Sci-Fi","Lana Wachowski, Lilly Wachowski","Lilly Wachowski, Lana Wachowski","Mila Kunis, Channing Tatum, Sean Bean, Eddie R...",...,NaN,NaN,NaN,NaN,http://www.rottentomatoes.com/m/jupiter_ascend...,02 Jun 2015,"$43,733,037",Warner Bros. Pictures,http://www.jupiterascending.com/,True
3,4,X-Men: Apocalypse,2016,PG-13,27 May 2016,144 min,"Action, Adventure, Sci-Fi",Bryan Singer,"Simon Kinberg (screenplay), Bryan Singer (stor...","James McAvoy, Michael Fassbender, Jennifer Law...",...,NaN,NaN,NaN,NaN,http://www.rottentomatoes.com/m/x_men_apocalypse/,04 Oct 2016,"$135,729,385",20th Century Fox,https://www.facebook.com/xmenmovies,True
4,5,Edge of Tomorrow,2014,PG-13,06 Jun 2014,113 min,"Action, Adventure, Sci-Fi",Doug Liman,"Christopher McQuarrie (screenplay), Jez Butter...","Tom Cruise, Emily Blunt, Brendan Gleeson, Bill...",...,NaN,NaN,NaN,NaN,http://www.rottentomatoes.com/m/live_die_repea...,07 Oct 2014,"$77,121,429",Warner Bros. Pictures,http://www.edgeoftomorrowmovie.com,True

In [592]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4848 entries, 0 to 4847
Data columns (total 38 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Unnamed: 0         4848 non-null   int64
 1   Title              4848 non-null   object
 2   Year               4848 non-null   int64
 3   Rated              4577 non-null   object
 4   Released           4820 non-null   object
 5   Runtime            4833 non-null   object
 6   Genre              4846 non-null   object
 7   Director           4847 non-null   object
 8   Writer             4798 non-null   object
 9   Actors             4841 non-null   object
 10  Plot               4837 non-null   object
 11  Language           4839 non-null   object
 12  Country            4846 non-null   object
 13  Awards             4108 non-null   object
 14  Poster             4834 non-null   object
 15  Ratings.Source     4848 non-null   object
 16  Ratings.Value      4848 non-null   object
 17  Metascore          3798 non-null   float64
 18  imdbRating         4848 non-null   float64
 19  imdbVotes          4848 non-null   object
 20  imdbID             4848 non-null   object
 21  Type               4848 non-null   object
 22  tomatoMeter        0 non-null      float64
 23  tomatoImage        0 non-null      float64
 24  tomatoRating       0 non-null      float64
 25  tomatoReviews      0 non-null      float64
 26  tomatoFresh        0 non-null      float64
 27  tomatoRotten       0 non-null      float64
 28  tomatoConsensus    0 non-null      float64
 29  tomatoUserMeter    0 non-null      float64
 30  tomatoUserRating   0 non-null      float64
 31  tomatoUserReviews  0 non-null      float64
 32  tomatoURL          4779 non-null   object
 33  DVD                4597 non-null   object
 34  BoxOffice          2505 non-null   object
 35  Production         4621 non-null   object
 36  Website            3341 non-null   object
 37  Response           4848 non-null   bool
dtypes: bool(1), float64(12), int64(2), object(23)
memory usage: 1.4+ MB

In [593]:
df.isnull().sum()

Unnamed: 0              0
Title                   0
Year                    0
Rated                 271
Released               28
Runtime                15
Genre                   2
Director                1
Writer                 50
Actors                  7
Plot                   11
Language                9
Country                 2
Awards                740
Poster                 14
Ratings.Source          0
Ratings.Value           0
Metascore            1050
imdbRating              0
imdbVotes               0
imdbID                  0
Type                    0
tomatoMeter          4848
tomatoImage          4848
tomatoRating         4848
tomatoReviews        4848
tomatoFresh          4848
tomatoRotten         4848
tomatoConsensus      4848
tomatoUserMeter      4848
tomatoUserRating     4848
tomatoUserReviews    4848
tomatoURL              69
DVD                   251
BoxOffice            2343
Production            227
Website              1507
Response                0
dtype: int64

In [573]:
df.Plot

0      Two imprisoned men bond over a number of years...
1      The aging patriarch of an organized crime dyna...
2      The early life and career of Vito Corleone in ...
3      When the menace known as the Joker emerges fro...
4      A jury holdout attempts to prevent a miscarria...
                             ...
245    The desperate life of a chronic alcoholic is f...
246    A 20-something supervising staff member of a r...
247    A newspaper editor uses every trick in the boo...
248    An old man makes a long journey by lawn-mover ...
249    A Mumbai teen reflects on his upbringing in th...
Name: Plot, Length: 250, dtype: object

#### Remove Punction

In [574]:
import string
punc = string.punctuation

In [575]:
df.Plot = df.Plot.apply(lambda x : "".join([i for i in x if i not in punc]))
#df['Plot'] = df['Plot'].str.replace('[ws]','')

In [576]:
df.Plot

0      Two imprisoned men bond over a number of years...
1      The aging patriarch of an organized crime dyna...
2      The early life and career of Vito Corleone in ...
3      When the menace known as the Joker emerges fro...
4      A jury holdout attempts to prevent a miscarria...
                             ...
245    The desperate life of a chronic alcoholic is f...
246    A 20something supervising staff member of a re...
247    A newspaper editor uses every trick in the boo...
248    An old man makes a long journey by lawnmover t...
249    A Mumbai teen reflects on his upbringing in th...
Name: Plot, Length: 250, dtype: object

In [577]:
rake = Rake()
df['keywords'] = ''

In [578]:
for index, row in df.iterrows():
    rake.extract_keywords_from_text(row.Plot)
    df['keywords'][index] = list(rake.get_word_degrees().keys())

C:\Users\shankesh\AppData\Local\Temp\ipykernel_11020\1291899574.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['keywords'][index] = list(rake.get_word_degrees().keys())

In [579]:
df.keywords

0      [two, imprisoned, men, bond, number, years, fi...
1      [aging, patriarch, organized, crime, dynasty, ...
2      [early, life, career, vito, corleone, 1920s, n...
3      [menace, known, joker, emerges, mysterious, pa...
4      [jury, holdout, attempts, prevent, miscarriage...
                             ...
245    [desperate, life, chronic, alcoholic, followed...
246    [20something, supervising, staff, member, resi...
247    [newspaper, editor, uses, every, trick, book, ...
248    [old, man, makes, long, journey, lawnmover, tr...
249    [mumbai, teen, reflects, upbringing, slums, ac...
Name: keywords, Length: 250, dtype: object

In [580]:
df.Genre = df.Genre.apply(lambda x : x.split(','))
df.Actors = df.Actors.apply(lambda x : x.split(',')[:3])
df.Director = df.Director.apply(lambda x : x.split(','))

In [581]:
df.Genre = df.Genre.apply(lambda x : [i.lower().replace(' ','') for i in x])
df.Actors = df.Actors.apply(lambda x : [i.lower().replace(' ','') for i in x])
df.Director = df.Director.apply(lambda x : [i.lower().replace(' ','') for i in x])

In [582]:
df['BOW'] = ''
columns = ['Genre','Director','Actors','keywords']

In [583]:
for index, row in df.iterrows():
    words = ''
    for col in columns:
        words += ' '.join(row[col]) + ' '
    df.BOW[index] = words

C:\Users\shankesh\AppData\Local\Temp\ipykernel_11020\232681186.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.BOW[index] = words

In [584]:
df.BOW = df.BOW.str.strip().str.replace('   ', ' ').str.replace('  ', ' ')

In [585]:
df[['Title','BOW']]

,Title,BOW
0,The Shawshank Redemption,crime drama frankdarabont timrobbins morganfre...
1,The Godfather,crime drama francisfordcoppola marlonbrando al...
2,The Godfather: Part II,crime drama francisfordcoppola alpacino robert...
3,The Dark Knight,action crime drama christophernolan christianb...
4,12 Angry Men,crime drama sidneylumet martinbalsam johnfiedl...
...,...,...
245,The Lost Weekend,drama film-noir billywilder raymilland janewym...
246,Short Term 12,drama destindanielcretton brielarson johngalla...
247,His Girl Friday,comedy drama romance howardhawks carygrant ros...
248,The Straight Story,biography drama davidlynch sissyspacek janegal...
249,Slumdog Millionaire,drama dannyboyle loveleentandan devpatel saura...

### vectorization

In [586]:
from sklearn.feature_extraction.text import CountVectorizer
from sklearn.metrics.pairwise import cosine_similarity
vector = CountVectorizer()
vector_matrix = vector.fit_transform(df.BOW)
cosine_sim = cosine_similarity(vector_matrix, vector_matrix)

In [587]:
title = pd.Series(df.Title)

In [588]:
title[title == 'The Avengers'].index[0]

219

In [589]:
def recommendation(name, cosine_sim = cosine_sim):
    recommended_movies = []
    idx = title[title == name].index[0]
    score = pd.Series(cosine_sim[idx]).sort_values(ascending = False)
    top5 = list(score.iloc[1:11].index)

    for i in top5:
        recommended_movies.append(list(df['Title'])[i])
    
    return recommended_movies

In [590]:
recommendation('The Avengers')

['Guardians of the Galaxy Vol. 2',
 'Guardians of the Galaxy',
 'Aliens',
 'Terminator 2: Judgment Day',
 'The Martian',
 'The Terminator',
 'The Thing',
 'Interstellar',
 'Spider-Man: Homecoming',
 'The Matrix']